@model DWA_AU24_Lab2_Group_11.Models.PlantingSchedule

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PlantingSchedule</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Cropid" class="control-label"></label>
                <select asp-for="Cropid" class ="form-control" asp-items="ViewBag.Cropid"></select>
            </div>
            <div class="form-group">
                <label asp-for="PlantingDate" class="control-label"></label>
                <input asp-for="PlantingDate" class="form-control" />
                <span asp-validation-for="PlantingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OptimalPlantingDate" class="control-label"></label>
                <input asp-for="OptimalPlantingDate" class="form-control" readonly id="OptimalPlantingDate" />
                <span asp-validation-for="OptimalPlantingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#Cropid').change(function () {
                var cropId = $(this).val();
                if (cropId) {
                    // Make AJAX request to get the optimal planting date
                    $.ajax({
                        url: '@Url.Action("GetOptimalPlantingDate", "PlantingSchedule")',
                        data: { cropId: cropId },
                        success: function (data) {
                            if (data.OptimalPlantingDate) {
                                $('#OptimalPlantingDate').val(data.OptimalPlantingDate);
                            } else {
                                $('#OptimalPlantingDate').val('No date available');
                            }
                        },
                        error: function () {
                            $('#OptimalPlantingDate').val('Error calculating date');
                        }
                    });
                } else {
                    $('#OptimalPlantingDate').val('');
                }
            });
        });
    </script>
}
